#Title {
  height: 240px;
  width: 400px;

}

.Add {
  text-align: center;
  font: normal 20px "Lucida Grande", "Comic Sans MS";
}
.Clear {
  text-align: center;
  font: normal 20px "Lucida Grande", "Comic Sans MS";
}
.Adddiv {
  text-align: center;
}
#checkboxdiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#functiondiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incheckbox {
  display: inline-block;
  font-size: 20px;
  max-height: 100px;
  max-width: 300px;
  resize: none;
}
.tick {
  background-size: 50px 50px;
  height: 55px;
  width: 55px;
}
.tick:hover {
  cursor: pointer;
}
.remove {
  height: 60px;
  width: 60px;
  background-image: url("assets/bin.jpg");
  background-size: 60px 60px;
}
.remove:hover {
  cursor: pointer;
}

body {
  background: #babd9d;
}